.about {
position: absolute;
width: 100vw;
height: 100vh;

  &:after {
    content: "";
    height: 700px;
    width: 700px;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 840px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }
    @media screen and (max-width: 430px) {
      display: none;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  .container {
    margin: 15% 0 0 24%;
    position: relative;
    max-width: 400px;
    @media screen and (max-width: 650px){
        margin: 45%  14%;
      }

    .about-container h2 {
        margin-bottom: 50px; 
        
    }
    .about-container p {
        margin-bottom: 50px; 
    }
    .stack-container {
      h2 {
        margin-bottom: 50px;    
        &:after {
            content: "";
            height: 70px;
            width: 70px;
            border: 1px $color-2 solid;
            border-radius: 50%;
            position: absolute;
            top: 178px;
            left: 70px;
            z-index: -1;
        }
     &:before{
            width:30px;
            height:30px;
            background:cyan;
            border-radius:50%;
          }
          @keyframes circle{
            0%{
              transform:rotate(0deg)
                        translate(-164px)
                        rotate(0deg);
            
            }
            100%{
              transform:rotate(360deg)
                        translate(-1643px)
                        rotate(-360deg);
            }
          }
       
      }
      .stack-icons {
        display: flex;
        align-items: center;

        img {
          margin: 10px;
          width: 60%;
        }
      }
    }
  }
}
.logo {
  top: 8px;
  right: 1rem;
}
ul {
  li img {
    width: 50px;
  }
}
.circle1 {

    height: 70px;
    width: 70px;
    border: 1px $color-2 solid;
    border-radius: 50%;
    position: absolute;
    top: -22px;
    left:70px;
    z-index: -1;
    &:after{
        content:"";
        width:10px;
        height:10px;
        background:cyan;
        border-radius:50%;
        position:absolute;
        top:0; bottom:0; left:0;right:0;
        overflow:hidden;
        margin:auto;
        animation: circle 6s linear infinite;
      }
  } 
  .circle2 {
        height: 70px;
        width: 70px;
 
        border-radius: 50%;
        position: absolute;
        top: 178px;
        left: 70px;
        z-index: -1;
      
    &:after{
        content:"";
        width:10px;
        height:10px;
        background:cyan;
        border-radius:50%;
        position:absolute;
        top:0; bottom:0; left:0;right:0;
        overflow:hidden;
        margin:auto;
        animation: circle 6s linear infinite;
      }
  } 

.bouncing {
    animation: bouncing 1s ease-out 6s 3 alternate;
  }

  @keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-35px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-35px)
              rotate(-360deg);
  }
}
  @keyframes bouncing {
    to {
      transform: translateX(200px);
    }
  }